<h2> Add a new patient to Room: <%= @room.room_number %></h2>
<%= form_for(@patient, url: 'newpatient') do |f| %>
    <ul>
    <li><%= f.label "add a patient" %></li>
    

    <li><%= f.label :first_name %></li>
    <%= f.text_field :first_name %>
    <li><%= f.label "Patient Status" %></li>
    <%= f.select :status, ['stable', 'unstable'], prompt: true %>
    <%= f.hidden_field :room_id, value: @room.id %></br></br>
    <%= f.submit %>
    </ul>
<% end %>

   