<h2>Patient Info</h2>
<ul>
<li>Name: <%= @patient.full_name %></li>
<li>Room Number: <%= @patient.room.room_number %></li>
<li>Diagnosis: <%= @patient.diagnosis %></li>
<li>Status: <%= @patient.status %></li>
<li>Expired: <%= @patient.expired %></li>
<%= label_tag "Doctors: " %>
<% @patient.doctors.each do |doctor| %>
<li><%= doctor.name %></li>
<% end %>
<%= label_tag "Nurses: " %>
<% @patient.nurses.each do |nurse| %>
<li><%= nurse.name %></li>
 <% end %>
</ul>